.shopContainer{
    color: black;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.summeryDiv{
    background-color: rgba(255, 153, 0, 0.3);
    max-height: 800px;
    padding-top: 30px;
  text-align: center;
  position: sticky;
  top: 0px;
}

.product-Container{
    background-color: #ffffff;
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    min-height: 500px;
}


