nav {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav div a {
    margin-right: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
}

nav h2 {
    margin: 0px;
    color: rgba(255, 255, 255, 0.87);
}
nav div img {
    width: 40px;
}

.ramDiv{
    display: flex;
}